
<!-- <p>Find me in app/views/questions/ask.html.erb</p> -->

<div>
  <h1>Stupid Coaching!</h1>
  <form action="/answer" method="get">
    <label for="">Question asker</label>
    <input class="question-bar"  type="text" name="questions" placeholder="Ask a quetsion">
    <input type="submit" value="ask">
  </form>
</div>

